<!-- Page Content -->
<div class="panel panel-inverse">
	<div class="panel-heading">
		<h4 class="panel-title">Active Listings in <%= @directory_category.directory_category_name %> Directory Category</h4>
	</div>
	<div class="panel-body">
		<%= render 'phcdevworks_members/directory/categories/components/category_list' %>
	</div>
</div>
<!-- Page Content -->

<!-- Page Content -->
<div class="panel panel-inverse">
	<div class="panel-heading">
		<h4 class="panel-title">Active Listings in <%= @directory_category.directory_category_name %> Directory Category Change Log</h4>
	</div>
	<div class="panel-body">
		<%= render 'phcdevworks_members/directory/categories/components/category_audits' %>
	</div>
</div>
<!-- Page Content -->
