<div class="panel panel-inverse">
	<div class="panel-heading">
		<h4 class="panel-title text-center">Directory Category Options</h4>
	</div>
	<div class="panel-body">
		<h1 class="text-center"><%= @directory_category.directory_category_name %></h1>
		<div class="text-center">
			<%= link_to edit_directory_category_path(@directory_category), class: "btn btn-sm btn-primary" do %>
				<i class="fa fa-pencil-square-o"></i> Update
			<% end %>
			<%= link_to @directory_category, method: :delete, data: { confirm: 'Are you sure? You will also remove all listing connections to that category. The category will also be removed from your online web directory.' }, class: "btn btn-sm btn-danger" do %>
				<i class="fa fa-trash-o"></i> Delete
			<% end %>
		</div>
	</div>
</div>
