<span class="float-left">
  2012-<%= Time.now.year %> -
  <strong>PHC</strong>Members -
  Engine v<%= Gem.loaded_specs["phcmembers"].version.to_s %>
</span>
<span class="float-right">
  Developed with <i class="fas fa-heart hanna_hearts"></i> by
  <a class="phcnet_copyright" href="https://phcdevworks.com/"><strong>PHC</strong>Devworks</a>
</span>
